a {
  text-decoration: none;
  color: white;
}

a:hover {
  transition: all 0.2s ease-out;
  color: rgba(0, 0, 0, 0.42)
}

body {
  font-family: Muli;
}

h1 {
  color: white;
  font-weight: 400;
  font-size: 42pt;
  line-height: 0.9;
  margin: 24px 0 28px 0;
}

h2 {
  color: white;
  font-weight: 300;
  font-size: 28pt;
  line-height: 0.3;
}

h3 {
  color: white;
  font-weight: 300;
  font-size: 18pt;
  line-height: 0.1;
  margin-top: 0;
}

.container {
  background: url('img/coffee-background.png') no-repeat;
  background-size: cover;
  margin: 0;
}

.overlay {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: rgba(0, 0, 0, 0.3);
  width: 100%;
  height: 100%;
}

.menu {
  font-weight: 900;
  color: white;
}

.menu-list {
  display: flex;
  justify-content: center;
  list-style: none;
  padding: 0;
  margin: 0;
}

li { float: left }

li:after {
  content: '|';
  margin: 10px;
}

li:last-child:after {
  content: '';
  margin: 0;
}

.logo-menu-wrapper {
  text-align: center;

}

.logo-wrapper {
  display: flex;
  justify-content: center;
  margin-top: 40px;
  flex-direction: column;
  align-items: center;
}

.logo {
  width: 100px;
  height: 100px;
}

.text {
  display: none;
}

.text-wrapper {
  display: flex;
  justify-content: center;
}

.store-wrapper {
  display: flex;
  margin-top: 30px;
  flex-direction: column;
}

.app-store {
  width: 200px;
  height: 59px;
  padding: 0 15px;
  margin-bottom: 10px;
}

.google-store {
  height: 90px;
  width: 228px;
}

@media (min-width: 1200px) {
  h3 {
    display: none;
  }

  .text {
    display: initial;
  }

  .logo-wrapper {
    flex-direction: row;
  }

  .logo {
    margin-right: 20px;
    margin-bottom: 10px;
  }

  .text-wrapper {
    margin-top: 200px;
    margin-left: 700px;
    flex-direction: column;
  }

  .store-wrapper {
    display: flex;
    margin-top: 10px;
    flex-direction: row;
  }

  .app-store {
    width: 200px;
    height: 59px;
    padding: 15px 0;
  }
}

/* blog */

.blog {
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: #FFFEF5;
  padding: 20px;
}

.blog-article {
  margin-top: 40px;
}

.blog-paragraph {
  max-width: 800px;
  line-height: 1.5;
  white-space: pre-line;
}

.blog-logo {
  width: 60px;
  height: 60px;
  border-radius: 3px;
}
